.cmp-currentDayAdvanced {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    opacity: 0;
    font-size: 20px;
    margin-top: 50px;
    color: white;
    justify-content: center;

    @media screen and (min-width: 768px) {
        flex-basis: 50%;
    }

    .item {
        flex-basis: 20%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10px;
        justify-content: center;
        background-color: rgba($color: #000, $alpha: 0.7);

        > span {
            flex-basis: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}