.cmp-service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &--title {
        position: absolute;
        text-transform: uppercase;
        color: white;
        background-color: black;
        padding: 15px;
        left: 0;
        top: 0;
        width: 250px;
        font-size: 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: right;
        margin-top: 5vh;
        transition: all 0.6s;

        @media screen and (min-width: 768px) {
            width: 400px;
            font-size: 30px;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        position: relative;
        margin-top: 45vh;
        transition: all 0.6s;

        input {
            flex-basis: 100%;
            padding: 15px 50px;
            outline: 0;
            font-size: 20px;
            border: 0;
            border-radius: 5px;
        }

        svg {
            position: absolute;
            left: 22px;
            font-size: 20px;
        }
    }

    &.loaded {
        .cmp-service-container__form {
            margin-top: 5vh;
        }

        .cmp-service-container--title {
            width: 80px;
            font-size: 12px;
            opacity: 0;

            @media screen and (min-width: 768px) {
                width: 150px;
                font-size: 15px;
                opacity: unset;
            }

        }
    }

    .cmp-service-container__forcastcontainer {
        display: flex;
        overflow-x: scroll;
        background-color: rgba($color: #000, $alpha: 0.5);
        margin-top: 50px;
        opacity: 0;
        color: white;

        @media screen and (min-width: 768px) {
            margin-top: 150px;
        }

        > :nth-child( odd ) {
            background-color: rgba($color: #000, $alpha: 0.8);
        }
    }

    &--error {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin-top: 25vh;
        font-size: 30px;
        letter-spacing: 3px;
    }

    &.appearing {
        .cmp-header,
        .cmp-currentDayMain,
        .cmp-currentDayAdvanced,
        .cmp-service-container__forcastcontainer {
            opacity: 1;
            transition: all 0.5s;
        }

        .cmp-currentDayMain {
            transition-delay: 0.2s;
        }

        .cmp-currentDayAdvanced {
            transition-delay: 0.4s;
        }

        .cmp-service-container__forcastcontainer {
            transition-delay: 0.6s;
        }
    }
}