.cmp-forecast {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    padding: 15px 15px 0;
    font-size: 18px;

    @media screen and (min-width: 768px) {
        flex-basis: 15%;
    }

    &--date {
        font-weight: bold;
    }

    &--date, &--time, &--temp {
        flex-basis: 100%;
        margin-bottom: 5px;
    }

    &--temp {
        font-size: 25px
    }
}