.cmp-service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        position: relative;

        input {
            flex-basis: 100%;
            padding: 15px 50px;
            outline: 0;
            font-size: 20px;
            border: 0;
            border-radius: 35px;
        }

        svg {
            position: absolute;
            left: 22px;
            font-size: 20px;
        }
    }
}