@keyframes blink {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cmp-loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;

    .loader,
    .loader2,
    .loader3 {
        position: absolute;
        border: 3px solid transparent;
        animation: spin 1.5s linear infinite;

        &:before {
            content: '';
            background-color: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
        }
    }

    .loader {
        width: 100px;
        height: 100px;
    }

    .loader2 {
        width: 120px;
        height: 120px;
        animation-direction: reverse;
        animation-duration: 2s;

        &:before {
            width: 15px;
            height: 15px;
        }
    }

    .loader3 {
        width: 140px;
        height: 140px;
        animation-duration: 3s;

        &:before {
            width: 10px;
            height: 10px;
        }
    }

    .ball {
        position: absolute;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(228, 29, 29, 1) 10%, rgba(0, 212, 255, 1) 100%);
        width: 60px;
        height: 60px;
        animation: blink 1.2s linear infinite;
    }
}